extends layout

block content
  .ui.container.centered.vert-center.half
    .ui.main.header.inverted
        span
            i.shield.yellow.icon
        span Browse Submissions
    if submissions
        for item in submissions
            .ui.card
                .content
                    .header= item.title
                    .meta= 'submitted ' + locals.moment(item.timestamp).fromNow()
                    .description.break-word= item.description
        a.ui.right.labeled.icon.button(href='/browse/' + (page + 1))
            i.right.chevron.icon
            span Next