extends layout

block styles
  link(rel="stylesheet", href="/assets/css/tag.css")

block content
  .ui.container.centered
    .ui.large.main.header.inverted
      span
        i.question.circle.icon
      span= current.step.title
    .ui.raised.segments
      .ui.large.clearing.segment
        p!= current.step.description
          if current.step.tags
            ul.tags
              for item in current.step.tags
                if current.suggestion
                  li: a.tag(href="/tags/suggestions/" + item)= item
                else
                  li: a.tag(href="/tags/" + item)= item
      .ui.clearing.secondary.segment
        if (path != '/checkup')
          .ui.buttons.left.floated
            if current.step.view
              a.ui.blue.button(href=current.step.view, target='_blank') Check it out
            if current.step.disable
              .or
              a.ui.negative.button(href=current.step.disable, target='_blank') Disable
        .ui.buttons.right.floated
          if current.suggestion
            a.ui.left.labeled.icon.button(href='/')
              i.left.chevron.icon
              span Return
            .or
            a.ui.right.labeled.icon.positive.button(href='/random')
              i.right.chevron.icon
              span Browse Another
          else
            if path != '/checkup'
              if (current.idx - 1 == 0)
                a.ui.labeled.icon.button(href='/checkup/')
                  i.left.chevron.icon
                  span Back
                .or
              else
                a.ui.labeled.icon.button(href='/checkup/' + (current.idx - 1))
                  i.left.chevron.icon
                  span Back
                .or
            a.ui.right.labeled.icon.button(href='/checkup/' + (current.idx + 1))
              i.right.chevron.icon
              span Next