extends layout

block content
  .ui.container.centered.vert-center
    .ui.huge.center.aligned.main.icon.inverted.header
      i.check.circle.icon.green
      .content Protect Yourself
      .main.sub.header Take the first steps to securing your personal information
      br
      a.ui.large.inverted.green.button(href='/checkup') Begin Your Online Check Up