extends layout

block styles
  link(rel="stylesheet", href="/assets/css/survey.css")
  link(rel="stylesheet", href="/assets/css/tag.css")

block content
  .ui.text.container
    .ui.raised.segments
      .ui.sizer.vertical.segment
        .ui.huge.inverted.header
          i.info.circle.icon
          .content Lorem Ipsum
      .ui.padded.segment.question
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec ante dictum lectus sodales accumsan nec ac nulla. Donec metus lacus, gravida consectetur tristique ac, elementum at odio. Ut elementum dignissim scelerisque. Ut posuere varius sapien a auctor. Etiam non arcu ut dui luctus finibus. Nam ultrices, dolor at imperdiet pellentesque, ligula ligula pharetra dolor, sed pretium enim eros et massa. Vivamus sed nunc aliquam, feugiat nulla et, cursus nulla. Aliquam ut nisl ante. Pellentesque vehicula odio eget iaculis varius. Mauris ac luctus eros. Nulla commodo orci eget feugiat varius. Mauris auctor fermentum mi, vel vehicula tortor feugiat sed.
      if start
          i.warning.icon
          span Welcome Message
      else if end
        .ui.secondary.segment
          i.warning.icon
          span Goodbye Message
      else
        .ui.secondary.segment
          i.warning.icon
          span You've reached the end of this content segment!