body {
    background-color: #232728;
}

.splash {
    padding: 20px;
}

.vert-center {
    margin-top: 100px;
}

.vert-center.half {
    margin-top: 50px;
}

.main.header {
    font-size: 48px!important;
}

.main.sub.header {
    font-size: 24px!important;
}

.padding-bottom {
    padding-bottom: 50px!important;
}

.break-word {
    word-wrap: break-word;
}

.ui.card {
    width: 100%;
    margin-bottom: 20px;
}

.align-input-padding {
    padding-bottom: 12px!important;
    margin-left: 50%;
}

.margin-top {
    margin: 15px 0!important;
}

.ui.card>.content>.header+.description,
.ui.card>.content>.meta+.description,
.ui.cards>.card>.content>.header+.description,
.ui.cards>.card>.content>.meta+.description {
    height: 100px;
    overflow-y: scroll;
}
.ui.raised.segments {
    padding-bottom: 50px;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 15px 0 0 0;
}

.tags li {
  float: left;
}

.tag {
  background: #eee;
  font-size: 14px!important;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 0 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #2185D0;
  color: white;
}

.tag:hover::after {
   border-left-color: #2185D0;
}
