.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 15px 0 0 0;
}

.tags li {
  float: left;
  height: 26px;
}

.tags li a,
.tags li span {
  background: #eee;
  font-size: 14px;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  line-height: 26px;
  position: relative;
  padding: 0 20px 0 23px;
  margin: 0 10px 0 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
}

.tags li span {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version */
}

.tags li span:hover {
  cursor: default;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #2185D0;
  color: white;
}

.tag:hover::after {
   border-left-color: #2185D0;
}
