.ui.card > .image:not(.ui) > i, .ui.cards > .card > .image:not(.ui) > i {
    border: none;
}

.ui.card > .image > i, .ui.cards > .card > .image > i {
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
}
